.header {
  text-align: center;
}
.header header {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #c3dc8e;
  padding: 20px;
  min-height: 500px;
}
.header__inner {
  margin-top: 180px;
}
.header__inner p{
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgb(53, 53, 53);
  margin: 0;
}
.header__inner span {
  font-size: 70px;
  text-shadow: 2px 2px 10px rgb(53, 53, 53);
  font-family: 'Rochester', cursive;
  line-height: 1;
}