.registry {
  background-color: #999;
  padding: 80px 50px;
}

.registry__inner {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.registry__inner h2 {
  margin: 0;
  font-size: 36px;
  color: white;
  text-transform: uppercase;
}

.registry__inner p {
  font-size: 20px;
  color: white;
}

.registry__wrap {
  margin-top: 60px;
}

.registry__inner a #path8,
.registry__inner a #path10 {
  fill: white;
  transition: 200ms;
}

.registry__inner a:hover #path8,
.registry__inner a:hover #path10 {
  fill: #ff9733
}

.registry__inner svg {
  max-height: 60px;
  max-width: 100%;
}