.details {
  background-color: #999;
  color: white;
  padding: 40px 20px;
}

.details__inner {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.details__single {
  margin: 40px auto;
}

.details__single h2 {
  margin: 0;
  font-size: 36px;
  text-transform: uppercase;
}

.details__single h4 {
  margin: 0;
  font-size: 25px;
}

.details__single p {
  font-size: 20px;
}

.details__single a {
  display: block;
  color: white;
  font-size: 20px;
  transition: 200ms;
}

.details__single a:hover {
  color: #c3dc8e;
}

.details__single img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.details__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 0 auto 30px;
  padding: 35px;
  background-color: #717171;
  border-radius: 50%;
}

@media (min-width: 850px) {
  .details__inner {
    display: flex;
    justify-content: center;
  }
  .details__single {
    margin: 0 1%;
  }
}

@media (min-width: 400px) {
  .details {
    padding: 80px 50px;
  }
  .details__single {
    width: 80%;
    margin: 40px auto;
  }
  .details__image {
    width: 100px;
    height: 100px;
  }
}