
.form {
  background: #f5f5f5;
  padding: 40px 20px;
  text-align: center;
  font-size: 20px;
}
.form__inner {
  max-width: 1000px;
  margin: auto;
}
.form__inner > h2 {
  margin: 0 0 15px;
  font-size: 36px;
  text-align: center;
  color: #5a5a5a;
  text-transform: uppercase;
}

.form__inner h3 {
  margin: 0 0 20px;
  font-size: 26px;
  font-weight: 100;
  text-align: center;
  color: #5a5a5a;
}

.form__inner a {
  color: #5a5a5a;
  transition: 200ms;
}

.form__inner a:hover {
  color: #c3dc8e;
}

@media (min-width: 400px) {
  .form {
    padding: 80px 50px;
  }
}