.Wedding {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #5a5a5a;
}
footer {
  padding: 20px;
  font-size: 12px;
  letter-spacing: 0.025em;
  text-align: center;
  color: white;
  background-color: #999;
}